/* Bulletproof Webfont */

@font-face {
  font-family: GarageSale;
  src: url(../fonts/GarageSale.eot);
  src: local("Garage Sale"), local(GarageSale),
  		url(../fonts/GarageSale.ttf) format("truetype");
}

/* Dokument */

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #fff;
	overflow: hidden;
}

body {
	color: #333;
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	font-size: 14px;
}

/* allgemein */

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

img, a img {
	border-style: none;
}

a, button {
	outline-style: none;
}

button::-moz-focus-inner {
	border: 0;
}

/* Layout */

header, #content, footer {
	margin: 0;
	position: fixed;
}

header {
	top: 0;
	left: 0;
	right: 0;
	height: 48px; /* abzgl. border */
	padding: 0;
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e27db3), to(#922165));
	background-image: -moz-linear-gradient(top, #e27db3, #922165);
}

#content, footer {
	left: 0;
	-webkit-transition: bottom 0.3s linear;
	-moz-transition: bottom 0.3s linear;
}

#content {
	right: 0;
	bottom: 0;
	top: 50px;
	padding: 25px;
	overflow: auto;
	min-width: 650px; /* abzgl. padding */
}

#content.beschreibung_sichtbar {
	bottom: 110px;
}

footer {
	height: 89px; /* abzgl. padding und border */
	right: 0;
	bottom: -110px; /* entspricht Höhe */
	background-color: #ededed;
	border-top: 1px solid #333;
	padding: 10px 0 10px 25px;
}

footer.beschreibung_sichtbar {
	bottom: 0;
}

#video_overlay {
	margin: 0;
	padding: 0;
	position: fixed;
	width: 100%;
	height: 100%;
	display: table;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.8);
}

#video_overlay.verborgen {
	display: none;
}

#video_overlay_container {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
}

#videobox {
	position: relative;
	margin: 0 auto;
	padding: 20px 25px;
	border: 2px solid #333;
	width: 720px; /* Videobreite! */
	
	background-color: #eee;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 12px 14px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 12px 14px rgba(0, 0, 0, 0.5);
	box-shadow: 0 12px 14px rgba(0, 0, 0, 0.5);
}

/* Specs */

header a#logo {
	color: #fff;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	line-height: 1em;
	white-space: nowrap;
	display: block;
	position: absolute;
	left: 10px;
	top: 6px;
	padding: 0;
}

header a#logo span {
	font-weight: normal;
}

header a#logo span.symbol {
	font-family: GarageSale;
	font-size: 45px;
}

#content h1 {
	font-family: Georgia, Times, "Times New Roman", serif;
	font-style: italic;
	font-size: 35px;
	font-weight: normal;
	margin: 0 0 25px 0;
}

#content p {
	margin: 0 0 20px 0;
	line-height: 1.5em;
}

#content a {
	color: #922165;
	text-decoration: none;
}

#content a:hover {
	text-decoration: underline;
}

#content #overview {
	margin: 50px 0 20px 0;
	padding: 0;
}

/* Clearfix */
#content #overview:after {
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	clear: both;
	visibility: hidden;
}

#content #overview div.thumbnail,
#content #overview div.thumbnail p {
	width: 300px;
	height: 200px;
}

#content #overview div.thumbnail {
	color: #000;
	position: relative;
	padding: 0;
	border: 1px solid #333;
	float: left;
	margin: 0 30px 50px 0;
	cursor: pointer;
}

#content #overview div.highlighted:after {
	content: url(../images/thumbnail_highlight.png);
	position: absolute;
	top: -6px;
	left: -6px;
}

#content #overview div.thumbnail p {
	line-height: normal;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#content #overview div.thumbnail p img {
	height: 100%;
}

#content #overview div.thumbnail strong {
	font-weight: normal;
	display: block;
	max-height: 80px;
	padding: 5px 10px;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.7);
	overflow: hidden;
}

#content #overview div.thumbnail:hover strong,
#content #overview div.highlighted strong {
	background-color: rgba(255, 255, 255, 0.9) !important;
}

#content #overview div.thumbnail > span,
#content #overview div.thumbnail > input {
	display: none;
}

footer h1,
footer p {
	margin-right: 150px;
}

footer h1 {
	font-size: 18px;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 10px;
	margin-left: 0;
}

footer p {
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0;
}

#videobox h1 {
	font-size: 20px;
	font-weight: bold;
	color: #333;
	margin: 0;
}

#videobox button.close_button {
	margin: 0;
	padding: 0;
	border-style: none;
	display: block;
	width: 30px;
	height: 30px;
	position: absolute;
	top: -15px;
	right: -15px;
	background: transparent url(../images/close_button_videobox.png) no-repeat;
	cursor: pointer;
}

#videobox #video_content {
	margin: 10px auto;
	padding: 0;
}

#videobox #video_content p {
	color: #333;
	margin: 0;
}

#videobox #video_content p a {
	color: #922165;
}
